<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/Main.css" rel="stylesheet"/>
    <script src="~/Content/js/jquery-3.1.1.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.unobtrusive-ajax.js"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                    <img alt="Brand" src="~/Content/img/logo.png">
                </a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("AboutCompany", "Home")">О компании</a></li>
                    @if (@User.Identity.IsAuthenticated)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@User.Identity.Name<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Logout", "Account")"><span class="glyphicon glyphicon-log-out"></span> Выйти</a></li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("Register", "Account")"> Регистрация</a></li>
                        <li><a href="@Url.Action("Login", "Account")"><span class="glyphicon glyphicon-log-in"></span> Вход</a></li>
                    }
                </ul>
            </div>
            </div>
    </nav>
    <div class="container body-content">
        <div class="col-md-2 col-xs-4">
            <div class="sidebar-nav-fixed affix">
                <ul class="nav">
                    <li class="nav-header">Меню</li>
                    <li>
                        <a href="#">Новый опрос</a>
                    </li>
                    <li>
                        <a href="#">Мои опросы</a>
                    </li>
                    <li>
                        <a href="#">Шаблоны опросов</a>
                    </li>
                    <li>
                        <a href="@Url.Action("UsersList", "Admin")">Пользователи</a>
                    </li>
                    <li>
                        <a href="@Url.Action("VacancyList", "Admin")">Вакансии</a>
                    </li>

                </ul>
            </div>
        </div>

        <div class="col-md-10 col-xs-8">
            @RenderBody()
            @RenderSection("scripts", required: false)
            <footer class="navbar-fixed-bottom">
                <div class="container text-center">
                    <p class="text-muted">Copyright @@ 2017 iTechArt</p>
                </div>
            </footer>
        </div>
    </div>
    
</body>
</html>



