@model WebApplication1.Models.UserEditModel
@{
    ViewBag.Title = "Редактирование аккаунта";
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="@Url.Action("Index")">Вернуться к профилю</a>

<body>
    <div class="row">
        <div class="col-md-8">
            <section id="EditForm">
                @using (Html.BeginForm())
            {
                    <div class="form-horizontal">
                        <h4></h4>
                        <hr />
                        @Html.ValidationSummary(true)
                        <div class="form-group">
                            @Html.LabelFor(model => model.userName, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.userName, new { @Value = Model.userName })
                                @Html.ValidationMessageFor(model => model.userName)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.oldPassword, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.PasswordFor(model => model.oldPassword)
                                @Html.ValidationMessageFor(model => model.oldPassword)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.newPassword, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.PasswordFor(model => model.newPassword)
                                @Html.ValidationMessageFor(model => model.newPassword)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.confrimPassword, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.PasswordFor(model => model.confrimPassword)
                                @Html.ValidationMessageFor(model => model.confrimPassword)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }
            </section>
        </div>
    </div>
</body>