@model WebApplication1.Models.LoginModel
@{
    ViewBag.Title = "Логин";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <div class="row main">
            <div class="panel-heading">
                <div class="panel-title text-center">
                    <h1>Вход</h1>
                    <hr />
                </div>
            </div>
            <div class="main-login main-center">
                <form class="form-horizontal" method="post" action="#">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label for="name" class="cols-sm-2 control-label">Логин</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                @Html.TextBoxFor(m => m.userName, new { @class = "form-control" })
                            </div>
                            @Html.ValidationMessageFor(m => m.userName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="cols-sm-2 control-label">Пароль</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            </div>
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-lg btn-block login-button" value="Войти">
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="text-left">
                                @Html.ActionLink("Регистрация", "Register")
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
