
@{
    ViewBag.Title = "О компании";
    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<div class="jumbotron">
    <h1 class="display-3">iTechArt Group</h1>
    <p class="lead">iTechArt Group — это команда Remarkable People, профессионалов в сфере разработки, тестирования, сервисной поддержки программных продуктов, модернизации и интеграции бизнес-приложений.
                    Мы страстно любим то, чем занимаемся, и стремимся к совершенству в решении любых задач!</p>
    <hr class="my-4">
    <p>Наша команда — более 700 высококлассных специалистов.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg ourSite" target="_blank" href="https://www.itechart.com/" role="button">Наш сайт</a>
    </p>
</div>

<input id="tab1" type="radio" name="tabs" checked>
<label for="tab1">О нас</label>

<input id="tab2" type="radio" name="tabs">
<label for="tab2">Вакансии</label>

<input id="tab3" type="radio" name="tabs">
<label for="tab3">Релокация в Минск</label>

<input id="tab4" type="radio" name="tabs">
<label for="tab4">Наши приемущества</label>

<section id="content1">
    @Html.Partial("AboutUs")
</section>

<section id="content2">
    @Html.Partial("VacancyList")
</section>

<section id="content3">
    @Html.Partial("Relo")
</section>

<section id="content4">
    @Html.Partial("Advans")
</section>


@*<div id="exTab2" class="container-fluid">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#About" data-toggle="tab">О нас</a>
        </li>
        <li>
            <a href="#Vacancies" data-toggle="tab">Вакансии</a>
        </li>
        <li>
            <a href="#Relo" data-toggle="tab">Релокация в Минск</a>
        </li>
        <li>
            <a href="#Advans" data-toggle="tab">Наши приемущества</a>
        </li>
    </ul>

    <div class="tab-content ">
        <div class="tab-pane active" id="About">
            @Html.Partial("AboutUs")
        </div>

        <div class="tab-pane" id="Vacancies">
            <h3>Вакансии</h3>
            @Html.Partial("VacancyList")
        </div>

        <div class="tab-pane" id="Relo">
            @Html.Partial("Relo")
        </div>

        <div class="tab-pane" id="Advans">
            @Html.Partial("Advans")
        </div>
    </div>
</div>*@