@model PagedList.IPagedList<WebApplication1.Models.ApplicationUser>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Редактирование пользователя";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}


@using (Html.BeginForm("UsersList", "Admin", FormMethod.Get))
{
    <div class="col-md-12 col-xs-12"> 
        <div class="col-md-6 col-xs-6 nopading">
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "Поиск" })
        </div>
            <input type="submit" class="btn btn-default" value="Поиск" />
        
    </div>

}

<div class="col-md-12 col-xs-12">
    <div class="panel panel-default panel-table">
        <div class="panel-heading">
            <div class="row">
                <div class="col col-xs-8">
                    <h3 class="panel-title">Список пользователей</h3>
                </div>
                <div class="col col-xs-4 text-right">
                    <button type="button" onclick="location.href='@Url.Action("CreateUser")'" class="btn btn-sm btn-primary btn-create">Создать</button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-bordered table-list">
                <thead>
                    <tr>
                        <th>@Html.ActionLink("Имя", "UsersList", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })</th>
                        <th>@Html.ActionLink("Email", "UsersList", new { sortOrder = ViewBag.EmailSortParm, currentFilter = ViewBag.CurrentFilter })</th>
                        <th class="hidden-xs hidden-sm">@Html.ActionLink("Дата регистрации", "UsersList", new { sortOrder = ViewBag.RegisterTimeSortParm, currentFilter = ViewBag.CurrentFilter })</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                            <td>@Html.DisplayFor(modelItem => item.Email)</td>
                            <td class="hidden-xs hidden-sm">@Html.DisplayFor(modelItem => item.registerTime)</td>
                            <td><a href="@Url.Action("EditUser", "Admin")/@Html.DisplayFor(modelItem => item.Id)"><span class="glyphicon glyphicon-edit"></span></a>  <a href="@Url.Action("DeleteUser", "Admin")/@Html.DisplayFor(modelItem => item.Id)" onclick="return confirm('Действительно хотите удалить?')"><span class="glyphicon glyphicon-trash"></span></a></td>

                        </tr>
                    }
                </tbody>
            </table>

        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col col-xs-4">
                    Всего пользователей:@ViewBag.TotalCount
                </div>
                <div class="col col-xs-8 text-right">
                    @Html.PagedListPager(Model, page => Url.Action("UsersList",
                            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                </div>
            </div>
        </div>
    </div>
</div>


    