@model IEnumerable<WebApplication1.Models.ApplicationUser>
@{
    ViewBag.Title = "Редактирование пользователя";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
    <div class="form-group">
        @using (Html.BeginForm())
        {
            <div class="col-md-4">
                <p>
                    Поиск: @Html.TextBox("SearchString", null, new { @class = "form-control" })
                    <input type="submit" class="btn btn-default" value="Поиск">
                </p>
            </div>
            
                
        }
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>@Html.ActionLink("Имя", "UsersList", new { sortOrder = ViewBag.NameSortParm})</th>
                    <th>@Html.ActionLink("Email", "UsersList", new { sortOrder = ViewBag.EmailSortParm })</th>
                    <th>@Html.ActionLink("Дата регистрации", "UsersList", new { sortOrder = ViewBag.RegisterTimeSortParm })</th>
                    <th>Редактировать</th>
                    <th>Удалить</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                        <td>@Html.DisplayFor(modelItem => item.registerTime)</td>
                        <td><a href="@Url.Action("EditUser", "Admin")/@Html.DisplayFor(modelItem => item.Id)">Редактировать</a></td>
                        <td><a href="@Url.Action("DeleteUser", "Admin")/@Html.DisplayFor(modelItem => item.Id)" onclick="return confirm('Действительно хотите удалить?')">Удалить</a></td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.ActionLink("Создать", "CreateUser", null,
            new { @class = "btn btn-default" })
    </div>



