@model IEnumerable<WebApplication1.Models.ApplicationUser>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section Scripts
{
    <script src="@Url.Content("~/Scripts/Custom.js")"></script>
}
<head>
    <title>Список пользователей</title>
</head>
<body>
    <div class="form-group">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th style="text-align: center;">Имя</th>
                    <th style="text-align: center;">Email</th>
                    <th style="text-align: center;">Дата регистрации</th>
                    <th style="text-align: center;">Редактировать</th>
                    <th style="text-align: center;">Удалить</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="text-align:center">@Html.DisplayFor(modelItem => item.UserName)</td>
                        <td style="text-align:center">@Html.DisplayFor(modelItem => item.Email)</td>
                        <td style="text-align:center">@Html.DisplayFor(modelItem => item.registerTime)</td>
                        <td style="text-align:center"><a href="@Url.Action("EditUser", "Admin")/@Html.DisplayFor(modelItem => item.Id)">Редактировать</td>
                        <td style="text-align: center;"><a href="@Url.Action("DeleteUser", "Admin")/@Html.DisplayFor(modelItem => item.Id)" onclick="return confirm('Действительно хотите удалить?')">Удалить</a>
                    </tr>
                }
            </tbody>
        </table>
        @Html.ActionLink("Создать", "CreateUser", null,
            new { @class = "btn btn-default" })
    </div>
</body>


