@model PagedList.IPagedList<WebApplication1.Models.Vacancies>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Список вакансий";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

    @using (Html.BeginForm("VacancyList", "Admin", FormMethod.Get))
    {
        <div class="col-md-8 col-xs-8">
            <div class="col-md-6 col-xs-6">
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "Поиск" })
             </div>
            <div class="col-md-2 col-xs-2">
                <input type="submit" class="btn btn-default" value="Поиск">
            </div>
             
        </div>


    }
    <div class="table-responsive  col-md-12 col-xs-12 ">
        <table class="table-borderless table">
            <thead>
                <tr>
                    <th>@Html.ActionLink("Имя", "VacancyList", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })</th>
                    <th>Url</th>
                    <th class="hidden-xs hidden-sm">@Html.ActionLink("Город", "VacancyList", new { sortOrder = ViewBag.CitySortParm, currentFilter = ViewBag.CurrentFilter })</th>
                    <th>Действия</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <td>Всего вакансий:@ViewBag.TotalCount</td>
                    <td class="hidden-xs hidden-sm"></td>
                    <td class="hidden-xs hidden-sm"></td>
                    <td>
                        @Html.PagedListPager(Model, page => Url.Action("VacancyList",
                            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                    </td>
                </tr>
            </tfoot>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.name)</td>
                        <td class="hidden-xs hidden-sm">@Html.DisplayFor(modelItem => item.vacancyUrl)</td>
                        <td>@Html.DisplayFor(modelItem => item.City)</td>
                        <td><a href="@Url.Action("EditVacancy", "Admin")/@Html.DisplayFor(modelItem => item.vacancyId)"><span class="glyphicon glyphicon-edit"></span></a>  <a href="@Url.Action("DeleteVacancy", "Admin")/@Html.DisplayFor(modelItem => item.vacancyId)" onclick="return confirm('Действительно хотите удалить?')"><span class="glyphicon glyphicon-trash"></span></a></td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
    <div class="row">
        <div class="col-md-6 col-xs-6">
            @Html.ActionLink("Создать", "CreateVacancy", null,
                                new { @class = "btn btn-default" })
        </div>
    </div>

